#nav_menu ul { list-style-type: none; }
#nav_menu ul li { float: left; }
#nav_menu ul li a {
    text-align: center;
    padding: 10px 25px;
    display: block;
    background: rgb(105, 169, 238);
    font-family: 'Tahoma';
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-right: 2px solid white; }
#nav_menu ul li a.lastitem { border-right: none; }  
#nav_menu ul li a.current { color: yellow; }

body {
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 100%;
    width: 95%;
    background-color: white;
    margin: 15px auto;
    padding: 15px 1.5em;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
}

article {
    clear: left;
    width: 75;
    float: left;
    column-count: 3;
    column-rule: 2px dotted rgb(54, 44, 188);
    column-gap: 1em;
    margin-left: 1em;
}

article h1 {
    column-span: all;
    clear: both;
    padding: 1.5em;
    border-top: 2px solid violet;
}

article h1, h2 {
    color: blue;
}

article img {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}

aside {
    width: 20%;    
    padding: 0.1em 1em 1em;
    position: fixed;
    top: 30%;
    right: 0;
    border: 4px solid darkblue;
    background-color: lightblue;
    padding: 1.5em;
}

article ol {
    list-style-type: upper-roman;
}

aside ul {
    list-style-type:square;
}

footer{
    clear: both;
    border-top: 2px solid violet;
}

footer p.copyright {
    text-align: center;
    font-size: 80%;
}