BACKGROUND-IMAGE: linear-gradiant(to bottom, rgb(246, 250, 253) 0%, facd8a 100%);
}

body {
    background-color: #efefef;
    color: #2d2d2d;
    font-family: opensans-regular, Helvetica, Arial, sans-serif
}
.container {
  display: flex;
  flex-wrap: wrap;
}

.container label {
  display: block;
  margin-top: 10px;
}

.container select {
  margin-right: 10px;
}

article {
    clear: left;
    width: 75;
    float: left;
    column-count: 3;
    column-rule: 3px dotted rgb(54, 44, 188);
    column-gap: 2em;
    margin-left: 2em;
}

button {
  background-color: #ff8f27;
  color: rgb(22, 64, 253);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover {
  background-color: #f49f29;
}

/* Main Footer */
.main-footer {
    margin: 1rem 0 0;
    margin-top: 600px;
    padding: 1rem 0 0;
    color: #e5e5e5;
    font-size: .75rem;
    background-color: #004990;
    background-color: rgb(0,73,144)
}

.main-footer__info p {
    margin: 0;
    font-size: 1.1rem;
    line-height: 1.5;
    text-align: center
}

.main-footer__info a {
    color: inherit
}

.main-footer__logo {
    width: 100%;
    margin-bottom: 1rem
}

.main-footer__tsus-logo {
    width: 100%;
    max-width: 18.5rem;
    border: 0
}

.footer-menu__title {
    margin: 0;
    padding: .35rem .5rem;
    color: #fff;
    font-size: .7rem;
    font-weight: 700;
    line-height: 1
}

.footer-menu__link, .footer-menu__link:visited {
    padding: .35rem .5rem !important;
    color: #e5e5e5;
    font-size: .7rem;
    -webkit-transition: .25s color ease;
    -o-transition: .25s color ease;
    transition: .25s color ease
}

.footer-menu__link:hover, .footer-menu__link:focus, .footer-menu__link:active {
    color: #fff;
}

.footer-menu__link:hover {
    text-decoration: underline
}

.footer-menu__link--social:hover {
    text-decoration: none
}

.footer-menu__link--parent {
    padding: 1rem !important
}

.footer-menu__link--parent:after {
    border-color: #fff transparent transparent !important
}

.footer-menu--social .footer-menu__link {
    padding: 0 !important;
    font-size: 1.5rem;
    text-align: center;
}

.bottom-footer {
    margin-top: 1rem;
    padding: .5rem 0;
    text-align: center;
    background-color: rgb(0,58,99)
}

