HTML{
    BACKGROUND-IMAGE: linear-gradiant(to bottom, white 0%, facd8a 100%);
}

body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .container label {
    display: block;
    margin-top: 10px;
  }
  
  .container select {
    margin-right: 10px;
  }
  
  button {
    background-color: #ff8f27;
    color: rgb(22, 64, 253);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
  }
  
  button:hover {
    background-color: #f49f29;
  }
 